{% if not fragment | default(false) %}

<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<script>
    // WORKAROUND for immer.js esm
    // (see https://github.com/immerjs/immer/issues/557)
    /* istanbul ignore next */
    // @ts-ignore
    window.process =
        window.process != undefined
            ? window.process
            : {
                env: {
                    NODE_ENV: "production",
                },
            };
</script>

<body>

<top-nav-bar id="main_app_bar" title="{% block title %}Mallard{% endblock %}">
    <main id="main">
{% endif %}
        {% block main %}{% endblock %}
{% if not fragment | default(false) %}
    </main>
</top-nav-bar>

</body>

{% include "globals.html" %}

<!-- Fief client -->
<script src="/static/fief_0.14.1.umd.js"></script>
<script src="/static/mallard-edge.js"></script>

</html>
{% endif %}
