{% if not fragment | default(false) %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mallard</title>

    <!-- Load fonts for web components. -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/static/mallard-edge.css">
    <!-- Favicon -->
    <link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
<body>

<top-nav-bar id="main_app_bar" title="{% block title %}Mallard{% endblock %}">
    <main id="main">
{% endif %}
        {% block main %}{% endblock %}
{% if not fragment | default(false) %}
    </main>
</top-nav-bar>

</body>

<script>const API_BASE_URL = "{{ api_base_url }}"</script>
<script src="/static/mallard-edge.js"></script>

</html>
{% endif %}
