{% if not fragment | default(false) %}

<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body>

<top-nav-bar id="main_app_bar" title="{% block title %}Mallard{% endblock %}">
    <main id="main">
{% endif %}
        {% block main %}{% endblock %}
{% if not fragment | default(false) %}
    </main>
</top-nav-bar>

</body>

{% include "globals.html" %}

<!-- Fief client -->
<script src="/static/fief_0.14.1.umd.js"></script>
<script src="/static/mallard-edge.js"></script>

</html>
{% endif %}
