<head>
    <meta charset="UTF-8">
    <title>Mallard</title>

    <!-- Load fonts for web components. -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL@20..48,100..700,0..1" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="/static/mallard-edge.css">
    <!-- Favicon -->
    <link id="favicon" rel="icon" type="image/x-icon" href="static/favicon.ico">
</head>
