{% extends "base.html" %}

{% block main %}
<thumbnail-grid id="thumbnails"></thumbnail-grid>
<mwc-fab icon="add" id="add_data"></mwc-fab>

<!-- Upload modal (initially closed) -->
<mwc-dialog id="upload_modal" heading="Upload Data">
    <div class="row" id="upload_row">
        <div id="upload_column" class="column_width1">
            <file-uploader></file-uploader>
        </div>
        <div id="metadata_column" class="column_width1 center">
            <metadata-form></metadata-form>
        </div>
    </div>

    <mwc-button id="done_button" slot="primaryAction">
        Done
    </mwc-button>
</mwc-dialog>

{% endblock %}
