<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mallard</title>

    <!-- Load fonts for web components. -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons&display=block" rel="stylesheet">
    <!-- Custom styles -->
    <link rel="stylesheet" href="static/css/colors.css">
    <link rel="stylesheet" href="static/css/mallard.css">
    <link rel="stylesheet" href="static/css/section_divider.css">
</head>
<body>

<mwc-top-app-bar-fixed id="main_app_bar">
    <div slot="title">Mallard</div>
    <main>
        <thumbnail-grid-section>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
        </thumbnail-grid-section>
        <thumbnail-grid-section>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
            <artifact-thumbnail></artifact-thumbnail>
        </thumbnail-grid-section>
    </main>
</mwc-top-app-bar-fixed>

</body>

<script src="static/js/mallard-edge.js"></script>

</html>
