/* Custom color scheme. */
:root {
    --md-sys-color-primary: hsl(133, 80%, 31%);
    --md-sys-color-on-primary: hsl(133, 80%, 95%);
    --md-sys-color-primary-container: hsl(133, 80%, 75%);
    --md-sys-color-on-primary-container: hsl(157, 96%, 10%);

    --md-sys-color-secondary: hsl(157, 96%, 32%);
    --md-sys-color-on-secondary: hsl(157, 96%, 95%);
    --md-sys-color-secondary-container: hsl(157, 96%, 75%);
    --md-sys-color-on-secondary-container: hsl(157, 96%, 10%);

    --md-sys-color-tertiary: hsl(181, 77%, 35%);
    --md-sys-color-on-tertiary: hsl(181, 77%, 95%);
    --md-sys-color-tertiary-container: hsl(181, 77%, 75%);
    --md-sys-color-on-tertiary-container: hsl(181, 77%, 10%);

    --md-sys-color-surface-dim: hsl(133, 10%, 70%);
    --md-sys-color-surface: hsl(133, 10%, 85%);
    --md-sys-color-surface-bright: hsl(133, 10%, 98%);

    --md-sys-color-surface-container-lowest: hsl(133, 10%, 100%);
    --md-sys-color-surface-container-low: hsl(133, 10%, 96%);
    --md-sys-color-surface-container: hsl(133, 10%, 92%);
    --md-sys-color-surface-container-high: hsl(133, 10%, 88%);
    --md-sys-color-surface-container-highest: hsl(133, 10%, 84%);

    --md-sys-color-on-surface: hsl(133, 10%, 10%);
    --md-sys-color-on-surface-variant: hsl(157, 10%, 30%);
    --md-sys-color-outline: hsl(157, 10%, 50%);
    --md-sys-color-outline-variant: hsl(157, 10%, 80%);

    --md-sys-color-background: hsl(107, 50%, 98%);
}

md-fab {
    --md-fab-container-color: var(--md-sys-color-tertiary);
    --md-fab-lowered-container-color: var(--md-sys-color-tertiary-container);
    --md-fab-icon-color: var(--md-sys-color-on-tertiary);
}
