@use "@material/elevation/mdc-elevation";
@use "multi_column";
@use "colors";

#main_app_bar {
  --mdc-theme-primary: var(--theme-secondary-2);
  --mdc-theme-on-primary: var(--theme-whitish);
}

#add_data {
  /* Position in bottom right. */
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20pt;
}

#upload_modal {
  /** Provide for two-column layout. */
  --mdc-dialog-max-width: 2000px;
}

#upload_row {
  height: 70vh;
}

#upload_column {
  z-index: 20;
}

#metadata_column {
  margin-left: 24px;
  margin-right: -24px;
  box-shadow: inset 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--theme-lighter-gray);
}

body {
  background-color: var(--theme-background);
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
