@use "multi_column";
@use "colors";
@use "vidstack/player/styles/default/theme.css";
@use "vidstack/player/styles/default/layouts/audio.css";
@use "vidstack/player/styles/default/layouts/video.css";

@font-face {
  font-family: deftone-stylus;
  src: url("/static/deftone.ttf");
}

body {
  background-color: var(--md-sys-color-background);
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
